html{
  min-height: 100%;
  font-size: 10px;
  background: linear-gradient(51.04deg, #180046 0%, #720094 119.15%);
}

body{
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  // max-width: 192rem;
  // margin: 0 auto;
  // overflow-x: hidden;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
  &:focus{
    outline: none;
  }
}

.cursor{
  &-pointer{
    cursor: pointer;
  }
}

hr{
  margin: 0;
  border-color: #fff;
  opacity: 0.1;
}

img{
  display: block;
}

figure{
  margin: 0;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

ul{
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.h1{
  font-weight: 600;

  --max-font: 58;
  --min-font: 40;
  font-size: var(--responsive_fz);

  --max-line_height: 70;
  --min-line_height: 40;
  line-height: var(--responsive_lh);
}
.h2{
  line-height: 146.3%;
  font-weight: 300;
  letter-spacing: .35px;
  opacity: 0.7;

  --max-font: 18;
  --min-font: 16;
  font-size: var(--responsive_fz);
}
.h4{
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 2rem;
}

// Base classes
.container{
  box-sizing: border-box;
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

#figure-hexagon{
  width: 100%;
  height: 100%;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-column{
  flex-direction: column;
}

.d-none{
  display: none;
}

.d-flex{
  display: flex;
}

.justify-content{
  &-center{
    justify-content: center;
  }
  &-between{
    justify-content: space-between;
  }
}

.align-items{
  &-center{
    align-items: center;
  }
}

select.lang_switcher{
  background-color: transparent;
  appearance: none;
  border: none;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
  outline: none;
  padding: 0 1.4rem 0 3rem;
  line-height: 2rem;
  background: url(../images/icons/icon-globe.svg) no-repeat left center,
              url(../images/icons/icon-chevron.svg) no-repeat right center;

  option{
    color: #000
  }
}

.text-center{
  text-align: center;
}

@media screen and (min-width: 560px) {
  .d-desktop{
    &-none{
      display: none;
    }
    &-flex{
      display: flex;
    }
    &-block{
      display: block;
    }
  }
}