.hero{
  position: relative;
  overflow: hidden;
  
  &__bg{
    #scene{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity .5s ease-in;
      animation: wave 7.11111s 0.1s infinite linear;
      &.ready{
        opacity: 1;
      }
      & > div{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
    .figure__hexagon{
      position: absolute;
      &--type{
        &-1{
          width: 78.6rem;
          top: -30rem;
          left: 12rem;
          z-index: var(--z-index__figure-2);
          svg{
            width: 100%;
            fill: url(#gradient-1);
          }
        }
        &-2,
        &-3,
        &-4{
          display: none;
        }
      }
    }
  }

  &__mask{
    min-height: 100vh;
    max-height: 114rem;
  }

  &__events{
    width: 100%;
    z-index: var(--z-index__bar);
    position: relative;
    &-item{
      display: block !important;
      position: relative;
      height: 20rem;
      max-width: 32rem;
      overflow: hidden;
      color: inherit;
      text-decoration: none;
      &:hover{
        .hero__events-item-image{
          transform: scale(1.2) translateX(5%);
          transition: transform 1s ease;
          backface-visibility: hidden;
        }
      }
      &-image{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center center;
        transform: scale(1.2) translateX(0);
      }

      .image-overlay{
        background: linear-gradient(140.92deg, #FF47BD 0%, #B969FF 100%);
        opacity: 0.2;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
      }

      &-content{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgba(#000, .5);
        padding: 2rem 3rem;
        font-weight: 600;
      }

      &-date{
        text-transform: uppercase;
        font-size: 1.6rem;
        line-height: 2rem;
        letter-spacing: 1px;
      }

      &-label{
        padding: 1.2rem 2rem;
        text-transform: uppercase;
        font-size: 1.4rem;
        line-height: 1;
        letter-spacing: 1px;
        border-radius: 5rem;
        border: 2px solid #fff;
        box-sizing: border-box;
        position: absolute;
        top: 1rem;
        right: 1rem;
      }

      &-title{
        font-size: 3.2em;
        line-height: 3.4rem;
        padding-bottom: 2rem;
      }

      &-location{
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 1;
      }
    }

    .events__slider-buttons{
      display: none;
    }
  }

  &__content{
    --content__padding: 4.5rem 2rem 6rem 2rem;
    --header__padding-bottom: 2rem;
    --subheader__padding-bottom: 3rem;
    --list__padding: 2rem 0 4rem;
    --list-item__padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: var(--z-index__content);
    padding: var(--content__padding);
    &-box{
      max-width: 34rem;      
    }
    &-header{
      padding-bottom: var(--header__padding-bottom);
    }

    &-subheader{
      padding-bottom: var(--subheader__padding-bottom);
    }

    &-list{
      .h2{
        font-weight: 600;
        opacity: 1;
        line-height: 1;

      }
      ul{
        padding: var(--list__padding);
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: .35px;
        li{
          &:not(:first-child){
            padding-top: var(--list-item__padding);
          }
        }
        p{
          padding-left: 2rem;
          max-width: 40rem;
        }
      }
    }

    &-person{
      margin-bottom: 3rem;
      p{
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 18px;
        padding-left: 1rem;
      }
    }
  }
}

@media screen and (min-width: 560px) {
  .hero{
    &__bg{
      .figure__hexagon--type{
        &-1{
          left: 8rem;
          top: -26rem;
          display: block;
        }
        &-2,
        &-3{
          display: block;
          width: auto;
          height: 100%;
          top: 0;
          left: 0;
          opacity: 0.3;
          z-index: var(--z-index__figure-1);
          transform: translate(-50%);
          svg{
            height: 100%;
            fill: url(#gradient-2);
          }
        }
        &-3{
          left: auto;
          right: 0;
          transform: translateX(50%);
        }
        &-4{
          display: block;
          width: 78.6rem;
          right: calc(100% - 20rem);
          top: calc(100% - 50rem);
          z-index: var(--z-index__figure-3);
          svg{
            width: 100%;
            fill: url(#gradient-3);
          }
        }
      }
    }
    &__person{
      position: absolute;
      left: 0;
      bottom: 0;
      height: 100%;
      display: flex;
      align-items: flex-end;
      img{
        max-height: calc(100% - 10rem);
        max-width: 80vw;
        min-width: 42.6rem;
      }

      &-info{
        line-height: 2rem;
        font-size: 1.4rem;
        font-weight: 600;
        position: absolute;
        z-index: 2;
        left: 2rem;
        bottom: 25rem;
      }
    }

    &__events{
      &-item{
        max-width: 40rem;
      }
    }

    &__content{
      align-items: flex-end;
    }
    

    .nav{
      .lang_switcher{
        position: static;
        margin-right: 4rem;
      }
    }
  }
}

@media screen and (min-width: 991px) {
  .hero{
    &__content{
      --content__padding: 1rem 2rem 6rem 2rem;
      --header__padding-bottom: 2rem;
      --subheader__padding-bottom: 4rem;
      ul{
        font-size: 1.6rem;
        line-height: 2rem;
      }
      &-box{
        width: 48%;
        max-width: 60rem;
      }
    }
    &__events{
      .events__slider-buttons{
        position: absolute;
        bottom: 100%;
        margin-bottom: 4rem;
        right: 6rem;
        display: flex;
      }
  
      .events__slider-button{
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0;
        cursor: pointer;
        opacity: 0.3;
        transition: opacity .15s ease-in;
        &:first-child{
          margin-right: 2rem;
        }
        &:hover{
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero{
    &__bar{
      --bar-padding: 4rem;
      background-position: right top;
      text-align: center;
      &-list{
        margin: 0 5rem;
        justify-content: center;
        img{
          margin-right: 3rem;
          margin-left: 3rem;
        }
      }
    }

    &__person{
      &-info{
        left: auto;
        right: 8rem;
      }
    }
  }
}

@keyframes wave {
  0% {
    transform: rotateZ(0deg) translate3d(0,1%,0) rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg) translate3d(0,1%,0) rotateZ(-360deg); }
}
